.list {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}

.list .count {
  align-content: flex-end;
  display: flex;
  font-size: xx-large;
  border-bottom: 1px solid #D3D3D3;
  margin-bottom: 10px;
}

.list .element {
  display: flex;
  flex-direction: column;
  border-bottom: 1px dashed black;
  margin-top: 10px;
  overflow: auto;
}

.list .element .title {
  display: flex;
}

.list .element .title .header {
  margin-right: 5px;
}

.list .element .title .email {
  text-decoration: underline;
}

.list .element .message {
  display: flex;
  margin: 10px;
  font-size: 15px;
  white-space: pre-wrap;
  text-align: left;
}

.list .element .createAt {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}

.list .element .createAt .reply-link {
  color: #666;
  text-decoration: underline;
}

.list .element .reply-form-hidden {
  display: none;
}

.list .element .reply-form-show {
  display: block;
}
